<div class="login-container">
  <h1 class="login-title">Login</h1>
  
  <form class="login-form" (ngSubmit)="handleButtonClick()">
    <accessible-input
      [(modelValue)]="user.name"
      type="text"
      id="nome"
      label="Nome completo"
      ariaLabel="Nome completo"
      placeholder="Digite seu nome"
      aria-required="true">
    </accessible-input>

    <accessible-input
      [(modelValue)]="user.email"
      type="email"
      id="email"
      label="Email"
      ariaLabel="Email"
      placeholder="Digite o seu email"
      aria-required="true">
    </accessible-input>

    <accessible-input
      [(modelValue)]="user.phone"
      type="tel"
      id="telefone"
      label="Telefone"
      ariaLabel="Telefone"
      placeholder="Digite o seu telefone"
      aria-required="true">
    </accessible-input>

    <accessible-select 
      [label]="'Status do usuário'"
      [id]="'status-select'"
      [options]="statusOptions"
      [(selected)]="selectStatus">
    </accessible-select>

    <accessible-button
      className="btn-verde"
      label="Login"
      ariaLabel="Botão de Login"
      (onClick)="handleButtonClick()">
    </accessible-button>
  </form>

</div>

  <div class="table-wrapper">
    <accessible-table
      [caption]="'Lista de Usuários'"
      [headers]="headersData"
      [data]="tableData">
    </accessible-table>
  </div>

  <accessible-alert-list
    [messages]="alerts"
    (dismiss)="removeAlert($event)">
  </accessible-alert-list>

  <warning-alert-list
    [messages]="alertsRed"
    (dismiss)="removeAlertRed($event)">
  </warning-alert-list>
